body {
    margin: 0;
    overflow: hidden; /* Disable scrolling */
}

iframe.mcb, iframe#mcb {
    width: 100%;
    height: 100vh; /* Set the height to fill the entire viewport */
    border: none;   /* Remove iframe border */
}