/* CSS code for head bar */
.head-bar {
    background-color: #333333;
    color: #ffffff;
    height: 50px;
    padding: 10px;
}

p {
    text-align: center;
}

regret {
    position:fixed;
    top:9999999999999999;
    right:9999999999999999;
    color:transparent;
}

.head-bar img {
    cursor: pointer;
    height: 30px;
}

/* CSS code for footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

/* CSS code for content */
body {
    background-color: #1f1f1f;
    color: #ffffff;
    margin: 0;
    padding-bottom: 70px; /* Adjust the padding-bottom value to accommodate footer height */
}

.content {
    margin-top: 100px; /* Adjust the margin-top value as needed */
    text-align: center;
}

/* CSS code for hamburger menu */
.hamburger {
    position: absolute;
    top: 4%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; /* Aligns the hamburger bar to the right */
    cursor: pointer;
    width: 30px;
    height: 20px;
}

.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 4px;
}

/* CSS code for dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px; /* Adjust the top value as needed */
    right: 0;
    background-color: rgba(51, 51, 51, 0.9); /* Slightly darker background color */
    color: #ffffff;
    padding: 10px;
    animation: fade 0.5s ease-in-out; /* Slow fade-in/out animation */
}

.dropdown-menu.show {
    display: block;
    animation: fade 0.5s ease-in-out forwards; /* Keep the menu visible after fading in */
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-menu li {
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu li:hover {
    text-align: center;
    cursor: pointer;
    background-color: #555555; /* Slightly lighter background color on hover */
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
